
  #viewDiv3D {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  #viewDiv2D {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 45%;
  }
  #lb_score{
    color: #005e95;
    background: rgba(255, 255, 255, 0.4);
  }
  .bottom_screen{
    bottom: 1px;
    left: 25%;
    position: absolute;

    text-align: left;
    padding: 2px 0;
  }
  .topleft_screen{
    top: 30px;
    left: 30%;
    font-size: 40px;
    position: absolute;
  }
  .bt_screen {
    background: white;
    padding: 9px;
    border: 1px solid #005e95;
    margin: 5px;
    color: #005e95;
    margin-left: 10px;
    cursor: pointer;
  }
  .bt_screen:hover,
  .bt_screen:focus {
    background-color: #e4e4e4;
  }
  .bt_screen_b{
    background: white;
    padding: 3px;
    border: 1px solid #005e95;
    margin: 2px;
    color: #005e95;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    width:120px;
  }
  .bt_screen_b:hover,
  .bt_screen_b:focus {
    background-color: #e4e4e4;
  }
  .lb_screen{
    width:5px;
    background-color: rgba(255, 255, 255, 0.2);
    padding:8px;
  }

  #Results {
    top: 100px;
    left: 30%;
    position: absolute;
    width: 50%;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #0079c1;
    color: #000;
    font-size:150%;
  }
  #showtarget{
      padding: 5px;
  }
  #s_recenter{
      padding: 5px;
  }
  #myRangeTrust{
    width: 80%;
  }
  #clueConfirm{
    width: 90%;
  }
  #map2Dvs3D{
    padding: 1px;
  }
  #bt_scenario{
    width: 90%;
  }
  #q_scene{
    width: 90%;
  }
  #testImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .btnx {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  .btnx:hover {background: #eee;}
  .x2d {color: dodgerblue;}
  .x3d {color: black;}

  ::-webkit-scrollbar {
  width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  #ScenarioDescriptionDiv {
    top: 100px;
    left: 30%;
    position: absolute;
    width: 50%;
    padding: 20px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #0079c1;
    color: #000;
    font-size:150%;
  }


  #ipcamname{
      width: 100%;
      height: 150px;
  }
.editArea-container {
  background: #fff;
  font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  overflow: auto;
  padding: 12px 15px;
  width: 300px;
}
  #editArea {
      padding: 10px;
      width: 500px;
      overflow-y: scroll;
      height: calc(90vh);
  }
  button:disabled,
  button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }